<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <%= render "common/navbar" %>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <ul id="nav-stacked" style="max-width: 300px;">
          <div class="left">
            <aside>
              <ul>
              <li><a class="active "><%= link_to("主页", admin_products_path) %></a></li>
              <li><%= link_to("订单", admin_orders_path) %></li>
              <li><a href="#contact">联系</a></li>
              <li><a href="#about">关于</a></li>
            </ul>

          </aside>
          </div>
        </ul>
      </div>
      <div class="col-xs-8">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
