<!DOCTYPE html>
<html>
<head>
  <title>JDstore 后台</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="containerr-fluid">
    <div class="row">
      <%= render "common/navbar" %>
    </div>

    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <div class="left">
            <aside>
            <ul>
              <li class="store"><span class="store-icon"></span><%= link_to("Products", admin_products_path) %></li>
              <li class="movies"><span class="movies-icon"></span><%= link_to("Orders", admin_orders_path) %></li>
              <li class="music"><span class="music-icon"></span><a href="#">Music</a></li>
              <li class="books"><span class="books-icon"></span><a href="#">Books</a></li>
              <li class="magazines"><span class="magazines-icon"></span><a href="#">Magazines</a></li>
              <li class="devices"><span class="devices-icon"></span><a href="#">Devices</a></li>
              <li class="store"><span class="store-icon"></span><a href="#">Store</a></li>
              <li class="movies"><span class="movies-icon"></span><a href="#">Movies</a></li>
              <li class="music"><span class="music-icon"></span><a href="#">Music</a></li>
              <li class="devices"><span class="devices-icon"></span><a href="#">Devices</a></li>
              <li class="books"><span class="books-icon"></span><a href="#">Books</a></li>
            </ul>
          </aside>
          </div>
          <li> <%= link_to("Products", admin_products_path) %> </li>
          <li>  </li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
